@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@400;600&display=swap');


::placeholder {
    font-family: 'Poppins', sans-serif !important;
    font-size: 10px !important;
    align-items: center !important;
    color: #B4B4B4 !important;
}

.dropdown-menu {
    width: 100%;

}



.search-results {
    border-radius: 10px;
    position: absolute;
    width: 250px;
    top: 100%;
    left: 80;
    z-index: 999 !important;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    /* Hide the search results by default */
}

.search-results.active {
    display: block;
    /* Show the search results when the 'active' class is added */
}

nav {
    background-color: white;
}

img {
    width: 35px;
    margin: 0 10px 0;
}

.navbar-nav {
    margin-left: 10%;
}

.navbar-brand {
    font-size: 26.23px;
    font-family: 'Montserrat', sans-serif;
}

.rounded-circle {
    width: 35px;
    height: 35px;
}

.nav-item {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
}

.form-control {

    border-color: #E2E0E0 !important;
    border-radius: 100px !important;
    width: 250px !important;
    height: 35px !important;


}